<?xml version="1.0"?>
<config>
    <version>1.4.2</version>
    <supported_hooks>
        <hook>pre-commit</hook>
        <hook>commit-msg</hook>
    </supported_hooks>
    <!--Validators setup-->
    <validators>
        <PhpClass>
            <interpret>c:/xampp/php/php.exe</interpret>
        </PhpClass>
        <CommitMessage>
            <format>/^(Implemented|Fixed|CR Changes?|Refactored) [A-Z]{2,}-[0-9]+: /</format>
        </CommitMessage>
        <FileFilter>
            <filter>
                <skip>
                    <extensions>
                        <!--Images-->
                        <jpg>jpg</jpg>
                        <png>png</png>
                        <gif>gif</gif>
                        <bmp>bmp</bmp>
                        <bmp>ico</bmp>
                        <svg>svg</svg>
                        <!--Archives-->
                        <zip>zip</zip>
                        <rar>rar</rar>
                        <gz>gz</gz>
                        <tar>tar</tar>
                        <!--Fonts-->
                        <ttf>ttf</ttf>
                        <fon>fon</fon>
                        <eot>eot</eot>
                        <woff>woff</woff>
                    </extensions>
                    <files>
                        <!--<file>app/code/core/Mage/Core/Helper/Js.php</file>-->
                    </files>
                    <paths>
                        <path>lib/</path>
                    </paths>
                </skip>
                <protect>
                    <files>
                        <file>index.php</file>
                        <file>cron.php</file>
                        <file>cron.sh</file>
                    </files>
                    <paths>
                        <path>downloader/</path>
                        <path>lib/</path> <!--if you would add some new lib comment it temporary -->
                        <path>app/code/core/</path>
                        <path>app/code/local/Mage/</path>
                        <path>app/design/install/</path>
                    </paths>
                </protect>
            </filter>
        </FileFilter>
    </validators>

    <!--Hooks process setup-->
    <hooks>
        <pre-commit>
            <filetype>
                <!--Run validators before any filter because filters run always before validators-->
                <before_all_original />
                <!--Run validators, filters before specific validators-->
                <before_all>
                    <filters>
                        <SkipContent />
                    </filters>
                    <validators>
                        <UnresolvedConflict />
                    </validators>
                </before_all>
                <php>
                    <validators>
                        <PhpClass />
                        <PhpDoc />
                        <CodingStandard />
                        <CodingStandardMagento />
                        <RedundantCode />
                    </validators>
                </php>
                <phtml>
                    <validators>
                        <RedundantCode />
                        <CodingStandardPhtml />
                    </validators>
                </phtml>
                <js>
                    <validators>
                        <RedundantCode />
                    </validators>
                </js>
                <xml>
                    <validators>
                        <XmlParser />
                    </validators>
                </xml>
                <after_all>
                    <validators>
                        <TrailingSpace />
                        <FileStyle />
                    </validators>
                </after_all>
            </filetype>
        </pre-commit>
        <commit-msg>
            <validators>
                <CommitMessage />
            </validators>
        </commit-msg>
    </hooks>
</config>

