<?xml version="1.0"?>
<config>
    <version>1.6.7</version>
    <supported_hooks>
        <hook>pre-commit</hook>
        <hook>commit-msg</hook>
    </supported_hooks>

    <!--Additional configuration file-->
    <additional_config>
        <main>commithook.xml</main>
        <magento>commithook-magento.xml</magento>
        <local>../commithook-local.xml</local>
        <project>PROJECT_DIR/commithook.xml</project>
        <project_local>PROJECT_DIR/commithook-self.xml</project_local>
    </additional_config>
    <cache_dir>../.cache</cache_dir>
</config>
