<?xml version="1.0"?>
<config>
    <validators>
        <PhpClass>
            <interpret>c:\xampp\php\php.exe</interpret>
        </PhpClass>
    </validators>
    <processing>
        <filter>
            <files>
                <skiplist>
                    <file>app/code/core/Mage/Core/Helper/Js.php</file>
                </skiplist>
            </files>
            <paths>
                <skiplist>
                    <!-- Magento -->
                    <path>lib/</path>
                    <path>lib/Varien/</path>
                    <path>lib/Mage/</path>
                </skiplist>
            </paths>
        </filter>
    </processing>
</config>
