<?xml version="1.0"?>
<config>
    <validators>
        <PhpClass>
            <interpret>c:\xampp\php\php.exe</interpret>
        </PhpClass>
        <FileFilter>
            <filter>
                <skip>
                    <files>
                        <!--<file>app/code/core/Mage/Core/Helper/Js.php</file>-->
                    </files>
                    <paths>
                        <!--<path>app/code/local/My/Module</path>-->
                    </paths>
                </skip>
                <protect>
                    <files>
                        <file>index.php</file>
                        <file>cron.php</file>
                        <file>cron.sh</file>
                    </files>
                    <paths>
                        <path>downloader/</path>
                        <path>lib/</path> <!--if you would add some new lib comment it temporary -->
                        <path>app/code/core/</path>
                        <path>app/design/install/</path>
                    </paths>
                </protect>
            </filter>
        </FileFilter>
    </validators>
</config>
